@*@using  System.Security.Claims;*@
@{
//var accountType = "";
//var userName = "";
//if (string.IsNullOrEmpty(User.Identity.Name) == false)
//{
//    accountType = User.Claims.FirstOrDefault(x => x.Type.Equals("AccountType"))?.Value;
//    userName = User.Claims.FirstOrDefault(x => x.Type.Equals(ClaimTypes.NameIdentifier))?.Value;
//}

}

<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from netgon.net/artstyles/sochi/home_v2.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 16 May 2022 16:29:07 GMT -->
<head>
    <meta charset="utf-8" />

    @RenderSection("Metatags", required: false)
    <title>@ViewData["Title"]</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicons/apple-touch-icon-57x57.png">
    <link rel="shortcut icon" href="/assets/images/favicons/favicon.png" type="image/png">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/assets/styles/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/demo/style-demo.css" />
    <link href="~/css/site.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)

</head>
<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader__wrap">
            <div class="preloader__progress"><span></span></div>
        </div>
    </div>

    <!-- Header -->
    <vc:vc-header></vc:vc-header>
    <!-- /Header -->
    <!-- Content -->
    @RenderBody()
    <!-- /Content -->
    <!-- Footer -->
    @*<footer class="footer">
        <div class="footer__left">
            <ul class="footer__info">
                <li>© 2022 Henry Pham</li>
                <li><a href="text-page.html">Điều khoản và điều kiện</a></li>
                <li><a href="text-page.html">Chính sách bảo mật</a></li>
            </ul>
        </div>
        <ul class="footer__social">
            <li><a href="#" class="social-link"><i class="icon-facebook-alt"></i></a></li>
            <li><a href="#" class="social-link"><i class="icon-twitter-alt"></i></a></li>
            <li><a href="#" class="social-link"><i class="icon-instagram"></i></a></li>
        </ul>
    </footer>*@
    <vc:vc-footer></vc:vc-footer>

    <!-- JavaScripts -->
    <script src="/assets/js/jquery-3.4.1.min.js"></script>
    <script src="/assets/js/plugins.min.js"></script>
    <script src="/assets/js/common.js"></script>

    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)

</body>

</html>