@{
    ViewData["Title"] = "Tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string url = Convert.ToString(ViewBag.Url);
    var articleCategory = ViewBag.ArticleCategory as IEnumerable<ArticleCategoryViewModel>;
    var article = ViewBag.Article as IEnumerable<ArticleViewModel>;
}

<!-- Content -->
<main class="main">
    <section class="container section section-first">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h1 class="title title--h1 js-lines">Tin tức / Sự kiện.</h1>
            </div>
            <div class="col-12">
                <!-- Filters -->
                <div class="select js-scroll-show">
                    <span class="placeholder">Select category</span>
                    <ul class="filter">
                        <li class="filter__item active" data-filter="*"><a class="filter__link active" href="#filter">All</a></li>
                        @if (articleCategory.Count() != 0)
                        {
                            foreach (var item in articleCategory)
                            {
                                <li class="filter__item" data-filter=".category__@item.Id"><a class="filter__link" href="#filter">@item.Name</a></li>

                            }

                        }
                    </ul>
                    <input type="hidden" name="changemetoo" />
                </div>
            </div>
        </div>
        <div class="flex-container-z js-news js-sort mt-4">
            <div class="gutter-sizer"></div>
            @if (article.Count() != 0)
            {
                foreach (var item in article)
                {
                    
                    <!-- itemNews -->
                    <div class="itemNews @("category__" + @item.Id) js-scroll-opacity">
                        <figure class="itemNews__img-wrap">
                            <a class="itemNews__link" 
                               asp-route-id="@item.Id"
                               asp-route-title="@item.Name.UrlEncode()"
                               asp-route="article-category-detail"
                               >
                                <div class="itemNews__date">@item.Name <span>- @item.CreateDate.Value.ToString("dd-MM-yyyy")</span></div>
                                <img class="cover lazyload" src="@item.ImagesUrl.ToImage(url)" alt="@item.Name" />
                            </a>
                        </figure>
                        <div class="itemNews__details">
                            <h4 class="title title--h4 js-lines">@item.Description</h4>
                        </div>
                    </div>
                }
            }
            
        </div>
    </section>
</main>
<!-- /Content -->